*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #137602;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23137602'/%3E%3Cstop offset='1' stop-color='%230bbbaf'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23c8ff51' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c8ff51' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23c8ff51' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c8ff51' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .containers {
    height: 100%;
    min-height: 100%;
  }


  /* Once we figure out how to import data, We can change the height of the modules to fit all 
  of the data we chose to display. It has concrete parameters now just for testing purposes.
  */
  
  .first {
    float: left;
    margin-top: 48px;
    margin-right: 5px;
    width: 59%;
    height: 400px;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
  }

  .second {
    float: right;
    margin-top: 48px;
    width: 40%;
    height: 400px;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
  }

  .third {
    float: right;
    margin-top: 7px;
    width: 100%;
    height: 250px;
    margin-bottom: 7px;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
  }

  .fourth {
    float: left;
    width: 100%;
    height: 250px;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
    font-size: larger;
  }